.container {
  margin-left: 9px;
  height: calc(100vh - 100px);
  width: calc(100vw - 24px);
  border: 3px solid red;
  border-radius: 31px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.form {
  margin-top: 9px;
  display: flex;
  justify-content: center;
}
.form input {
  background: #222;
  border: 3px solid red;
  width: 400px;
  outline: none;
  height: 30px;
  color: white;
}

.form button {
  color: white;
  border: 3px solid red;
  background: red;
}

.form button:hover {
  cursor: pointer;
}
.list {
  display: flex;
  justify-content: space-between;
  height: 400px;
}
.list ul li {
  margin-left: -40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100vw - 124px);
}
