.red {
  width: 48px;
  height: 21px;
  border-radius: 48px;
  background: red;
  animation: red 6s linear infinite;
}
@keyframes red {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.small {
  width: 21;
  height: 12px;
}
